body {
    margin:0;
    font-family: Arial;
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
    color: white;
    background-image: url(./Background-Abstract-HD-4.webp);
}
@keyframes masuk {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animasi {
    animation: masuk 1s ease-in-out;
}